@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: linear-gradient(to bottom, #130449, #260229);
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif; /* mudou aqui */
  min-height: 100vh;
  margin: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}